/* nunito-regular - latin */
@font-face {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 400;
  src: local("Nunito Regular"), local("Nunito-Regular"),
    url("../fonts/nunito-v12-latin-regular.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../fonts/nunito-v12-latin-regular.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  block-timeout: 0.3;
  swap-timeout: 0; // Never swap
}

/* noto-sans-regular - latin */
@font-face {
  font-family: "Noto Sans";
  font-style: normal;
  font-weight: 400;
  src: local("Noto Sans"), local("NotoSans"),
    url("../fonts/noto-sans-v9-latin-regular.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../fonts/noto-sans-v9-latin-regular.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  block-timeout: 0.3;
  swap-timeout: 0; // Never swap
}

html,
body {
  margin: 0;
  padding: 0;
  position: relative;
}

body {
  font-family: "Noto Sans", sans-serif;
  color: #333;
  font-size: 16px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -moz-font-feature-settings: "liga" on;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Nunito", sans-serif;
  color: #13022c;
  font-weight: 700;
}

a {
  outline: none;
}

pre code {
  display: block;
}

code {
  display: initial;
  max-width: 100%;
  overflow: auto;
}

img {
  max-width: 100%;
  height: auto;
}

.wrapper {
  overflow: hidden;
  position: relative;
}

.header {
  padding: 20px 0;
  position: relative;
}

.nav {
  max-width: 800px;
  margin: 0 auto;
  padding: 0 15px;
  text-align: right;
}

.nav-logo {
  float: left;
  margin-top: -11px;
  transition: transform 150ms ease-out;
}

.nav-logo:hover {
  transform: scale(1.1);
}

.nav-logo img {
  display: block;
  max-height: 40px;
  width: auto;
}

.nav-links {
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav-links li {
  display: inline-block;
  margin: 0 0 0 15px;
}

.nav-links li:first-child {
  margin-left: 0;
}

.nav-links a {
  text-decoration: none;
  color: #111;
}

.nav-links a:hover {
  border-bottom: 2px solid #ffce07;
  box-shadow: inset 0 -3px 0 #ffce07;
  background: transparent;
  transition: background 150ms ease;
}

.content {
  max-width: 700px;
  margin: 60px auto 80px;
  padding: 0 15px;
  line-height: 1.5;
}

.article-title {
  font-size: 34px;
  margin: 0 0 0.3em;
  line-height: 1.1;
  color: #13022c;
  text-align: center;
}

.article-meta {
  text-align: center;
  margin-bottom: 60px;
}

.article-content {
  padding-top: 0.9em;
}

.article-content h1,
.article-content h2,
.article-content h3,
.article-content h4,
.article-content h5,
.article-content h6 {
  /* text-decoration: underline; */
}

.article-content h2:before {
  content: url("chevron-right.svg");
  margin-right: -7px;
}

.article-content h3:before,
.article-content h4:before,
.article-content h5:before,
.article-content h6:before {
  content: url("chevrons-right.svg");
  margin-right: -2px;
}

.article-content p {
  margin: 15px 0 25px;
}

.article-content a {
  text-decoration: none;
  color: inherit;
  box-shadow: inset 0 -3px 0 #ffce07;
  background: transparent;
  transition: background 150ms ease;
}

.article-content a:hover,
.article-content a:focus {
  background: #ffce07;
}

.article-content hr {
  width: 150px;
  margin: 50px auto;
  height: 1px;
  overflow: hidden;
  border: none;
  background: #e5e5e5;
}

.article-content ul,
ol {
  margin: 15px 0 25px;
}

.article-content figure {
  margin: 0 0 25px 0;
  padding: 1em;
  border: 2px dashed #ccc;
  text-align: center;
}

.article-content figure figcaption {
  font-size: 0.9em;
  text-align: center;
}

.article-content figure figcaption p {
  margin: 0;
}

.article-content li p {
  margin-top: 0;
  margin-bottom: 0;
}

.article-content li .highlight {
  margin-top: 1em;
  margin-bottom: 1em;
}

.article-content li figure {
  margin-top: 1em;
  margin-bottom: 1em;
}

.article-tags {
  margin-top: 3em;
  margin-bottom: 3em;
}

#article-toc input[type="checkbox"] {
  display: none;
}

#article-toc .lbl-toggle svg {
  cursor: pointer;
}

#article-toc .lbl-toggle .toggle-melihat-icon,
#article-toc .lbl-toggle .toggle-menyembunyikan-icon {
  padding-left: 5px;
  margin-right: 2px;
  box-shadow: inset 0 -3px 0 #ffce07;
}

#article-toc .lbl-toggle .toggle-melihat-icon:hover,
#article-toc .lbl-toggle .toggle-menyembunyikan-icon:hover {
  background-color: #ffce07;
}

/* Toc toggle logic */

#article-toc .toggle:checked + .lbl-toggle + .collapsible-content {
  max-height: 100%;
}

#article-toc .toggle:checked + .lbl-toggle + .collapsible-content {
  max-height: 100%;
}

#article-toc .toggle:checked + .lbl-toggle > .toggle-menyembunyikan-icon {
  display: inline;
}

#article-toc .toggle:checked + .lbl-toggle > .toggle-melihat-icon {
  display: none;
}

#article-toc .toggle:checked + .lbl-toggle > .toggle-menyembunyikan-icon {
  display: inline;
}

#article-toc .toggle:checked + .lbl-toggle > .toggle-melihat-text {
  display: none;
}

#article-toc .toggle:checked + .lbl-toggle > .toggle-menyembunyikan-text {
  display: inline;
}

/* End of toc toggle logic */

#article-toc .toggle-menyembunyikan-icon,
#article-toc .toggle-menyembunyikan-text {
  display: none;
  transition: max-height 0.25s ease-in-out;
}

#article-toc .collapsible-content {
  max-height: 0;
  overflow: hidden;

  transition: max-height 0.25s ease-in-out;
}

#article-toc .collapsible-content .toc-title:before {
  content: url("chevron-right.svg");
  margin-right: -0.3em;
}

#TableOfContents ul {
  list-style: none;
}

#TableOfContents ul {
  margin-bottom: 0;
}

#TableOfContents > ul {
  padding-left: 1em;
}

#TableOfContents > ul > li {
  margin-top: 0.7em;
}

#TableOfContents > ul > li:before {
  content: url("chevron-right-light.svg");
  font-weight: 600;
  margin-right: 3.5px;
}

#TableOfContents > ul > li ul > li:before {
  content: url("chevrons-right-light.svg");
  margin-right: 5.5px;
}

#TableOfContents a {
  text-decoration: none;
  color: inherit;
}

#TableOfContents a:hover {
  box-shadow: inset 0 -3px 0 #ffce07;
  background: #ffce07;
  transition: background 150ms ease;
}

.highlight {
  border: 2px dashed #ccc !important;
  position: relative;
  margin: 40px 0;
  padding: 0 1em;
  font-size: 14px;
}

.highlight pre {
  padding: 10px;
}

.archive {
  margin: 0;
  padding: 0;
  list-style: none;
  line-height: 1.5;
  text-align: left;
  color: #111;
}

.archive-title {
  font-family: "Nunito", sans-serif;
  font-size: 32px;
  margin-top: 60px;
  text-align: center;
}

.archive-item {
  margin: 0;
  padding: 0 0 0.6em;
}

.archive-item-link {
  font-family: "Nunito", sans-serif;
  font-weight: 600;
  display: inline-block;
  text-decoration: none;
  font-size: 18px;
  color: inherit;
  padding: 5px 0 0;
  border-bottom: none;
}

.archive-item-term-count {
}

.archive-item-link:hover {
  box-shadow: inset 0 -5px 0 #ffce07;
  background: transparent;
  transition: all 0.3s ease-out;
}

.archive-meta {
  display: block;
  margin: 0 0 0.3em 0;
  font-size: 90%;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin: 0 auto 2em auto;
  display: block;
  overflow-x: auto;
}

th,
td {
  padding: 0.5em 1em 0.5em 0;
}

th,
td {
  border-bottom: 1px dashed #ccc;
}

.footer {
  padding: 25px 0;
  text-align: center;
}

.footer-links {
  list-style: none;
  margin: 0;
  padding: 0;
  color: #ccc;
  font-size: 14px;
}

.footer-links li {
  margin: 0;
  padding: 0;
  display: inline-block;
}

.footer-links a {
  color: #888;
  text-decoration: none;
  transition: color 150ms ease;
  margin: 0 15px;
}

.footer-links a:hover,
.footer-links a:focus {
  color: #222;
}

.footer-links li::before {
  content: "/";
  position: relative;
  left: -2px;
}

.footer-links li:first-child::before {
  display: none;
}
.footer-links-kudos img {
  position: relative;
  top: 6px;
  margin-left: 2px;
}

@media (min-width: 600px) {
  body {
    font-size: 18px;
  }

  .header {
    padding: 5em 0 1em;
  }

  .higlight,
  pre code,
  code {
    font-size: 1rem !important;
  }

  .highlight {
    font-size: 1rem;
    margin: 40px 0;
  }

  .nav-logo {
    margin-top: -13px;
  }

  .nav-logo img {
    max-height: 50px;
  }

  .nav-links {
  }

  .nav-links li {
    margin: 0 0 0 30px;
  }

  .content {
    line-height: 1.5;
    margin: 100px auto;
  }

  .archive {
    text-align: left;
  }

  .archive-title {
    font-size: 38px;
  }

  .archive-item-link {
    font-size: 19px;
  }

  .article-title {
    font-size: 42px;
  }

  .article-content h2 {
    margin-left: -0.7em;
  }

  .article-content li p {
    margin-top: 0;
    margin-bottom: 0;
  }

  .article-content li .highlight {
    margin-top: 1em;
    margin-bottom: 1em;
  }

  .article-content li figure {
    margin-top: 1em;
    margin-bottom: 1em;
  }

  .footer-links {
    font-size: inherit;
  }
}
