/* lora-regular - latin */
@font-face {
  font-family: "Lora";
  font-style: normal;
  font-weight: normal;
  src: local('Lora'), local('Lora-Regular'),
    url("../fonts/Lora-Regular.woff2") format("woff2"),
    url("../fonts/Lora-Regular.woff") format("woff");
  block-timeout: 0.3;
  swap-timeout: 0;
}

/* roboto-regular - latin */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: normal;
  src: local('Roboto'), local('Roboto-Regular'),
    url("../fonts/Roboto-Regular.woff2") format("woff2"),
    url("../fonts/Roboto-Regular.woff") format("woff");
  block-timeout: 0.3;
  swap-timeout: 0;
}

html,
body {
  margin: 0;
  padding: 0;
  position: relative;
}

body {
  font-family: "Roboto", sans-serif;
  color: #17181e;
  font-size: 17px;
  text-size-adjust: 100%;
  line-height: 27px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -moz-font-feature-settings: "liga" on;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Lora", sans-serif;
  font-weight: 700;
}

a {
  outline: none;
}

pre code {
  display: block;
}

code {
  display: initial;
  max-width: 100%;
  overflow: auto;
}

img {
  max-width: 100%;
  height: auto;
}

.wrapper {
  overflow: hidden;
  position: relative;
}

.header {
  padding: 3em 15px 1em 15px;
  position: relative;
}

.nav {
  display: block;
  max-width: 700px;
  margin: 0 auto;
  text-align: center;
}

.nav-circle {
  position: relative;
  width: 120px;
  height: 120px;
  margin: auto;
  border-radius: 50%;
  overflow: hidden;
}

.nav-circle .bg {
  animation:slide 10s ease-in-out infinite alternate;
  background-image: linear-gradient(-60deg, #1997A5 50%, #1F263B 50%, #34BEBA 50%);
  bottom:0;
  left:-50%;
  opacity:.5;
  position: absolute;
  right:-50%;
  top:0;
  z-index:-1;
}

.nav-circle .bg2 {
  animation-direction:alternate-reverse;
  animation-duration:13s;
}

.nav-circle .bg3 {
  animation-duration:15s;
}

@keyframes slide {
  0% {
    transform:translateX(-25%);
  }
  100% {
    transform:translateX(25%);
  }
}

.nav-logo {
  transition: transform 150ms ease-out;
}

.nav-logo:hover {
  transform: scale(1.1);
}

.nav-logo img {
  display: block;
  margin: auto;
  max-height: 60px;
  width: auto;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);

}

.nav a {
  text-decoration: none;
}

.nav-about {
  display: block;
  margin: 15px auto;
  max-width: 500px;
}

.nav-about .me {
  font-size: 33px;
  margin-bottom: 0;
}

.nav-about .socmed svg {
  border-radius: 50%;
  margin: auto 5px;
  overflow: visible;
  padding: 6px;
  background-color: #17181e;
  color: white;
}

.nav-about .socmed a {
  color: inherit;
}

.nav-about .socmed a:hover > svg {
  border-radius: 50%;
  background-color: #ffce07;
  transition: background 150ms ease;
  color: inherit;
}

.nav-links {
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav-links li {
  display: inline-block;
  margin: 0 0 0 15px;
}

.nav-links li:first-child {
  margin-left: 0;
}

.nav-links a {
  text-decoration: none;
}

.nav-links a:hover {
  -webkit-box-shadow: 0 -1px 0 0 #fff inset,0 -3px 0 0 #ffce07 inset;
  box-shadow: 0 -1px 0 0 #fff inset,0 -3px 0 0 #ffce07 inset;
}

.content {
  max-width: 700px;
  margin: 60px auto 80px;
  padding: 0 15px;
}

.article-title {
  font-size: 34px;
  line-height: 47px;
  margin: 0 0 0.3em;
  text-align: center;
}

.article-meta {
  text-align: center;
  margin-bottom: 60px;
}

.article-content {
  padding-top: 0.9em;
}

.article-content p {
  margin: 15px 0 25px;
}

.article-content a {
  text-decoration: none;
  color: inherit;
  box-shadow: inset 0 -3px 0 #ffce07;
  background: transparent;
  transition: background 150ms ease;
}

.article-content a:hover,
.article-content a:focus {
  background: #ffce07;
}

.article-content hr {
  width: 150px;
  margin: 50px auto;
  height: 1px;
  overflow: hidden;
  border: none;
  background: #e5e5e5;
}

.article-content ul,
.article-content ol {
  margin: 15px 0 25px;
}

.article-content figure {
  margin: 0 0 25px 0;
  padding: 1em;
  text-align: center;
  border: 1px solid #fafafa;
}

.article-content figure figcaption {
  font-size: 0.9em;
  text-align: center;
}

.article-content figure figcaption p {
  margin: 0;
}

.article-content li p {
  margin-top: 0;
  margin-bottom: 0;
}

.article-content li .highlight {
  margin-top: 1em;
  margin-bottom: 1em;
}

.article-content li figure {
  margin-top: 1em;
  margin-bottom: 1em;
}

.article-tags {
  margin-top: 3em;
  margin-bottom: 3em;
}

#article-toc input[type="checkbox"] {
  display: none;
}

#article-toc .lbl-toggle svg {
  cursor: pointer;
}

#article-toc .lbl-toggle .toggle-melihat-icon,
#article-toc .lbl-toggle .toggle-menyembunyikan-icon {
  padding-left: 5px;
  margin-right: 2px;
  box-shadow: inset 0 -3px 0 #ffce07;
}

#article-toc .lbl-toggle .toggle-melihat-icon:hover,
#article-toc .lbl-toggle .toggle-menyembunyikan-icon:hover {
  background-color: #ffce07;
}

/* Toc toggle logic */

#article-toc .toggle:checked + .lbl-toggle + .collapsible-content {
  max-height: 100%;
}

#article-toc .toggle:checked + .lbl-toggle + .collapsible-content {
  max-height: 100%;
}

#article-toc .toggle:checked + .lbl-toggle > .toggle-menyembunyikan-icon {
  display: inline;
}

#article-toc .toggle:checked + .lbl-toggle > .toggle-melihat-icon {
  display: none;
}

#article-toc .toggle:checked + .lbl-toggle > .toggle-menyembunyikan-icon {
  display: inline;
}

#article-toc .toggle:checked + .lbl-toggle > .toggle-melihat-text {
  display: none;
}

#article-toc .toggle:checked + .lbl-toggle > .toggle-menyembunyikan-text {
  display: inline;
}

/* End of toc toggle logic */

#article-toc .toggle-menyembunyikan-icon,
#article-toc .toggle-menyembunyikan-text {
  display: none;
  transition: max-height 0.25s ease-in-out;
}

#article-toc .collapsible-content {
  max-height: 0;
  overflow: hidden;

  transition: max-height 0.25s ease-in-out;
}

#TableOfContents a {
  text-decoration: none;
  color: inherit;
}

#TableOfContents a:hover {
  box-shadow: inset 0 -3px 0 #ffce07;
  background: #ffce07;
  transition: background 150ms ease;
}

.highlight {
  position: relative;
  margin: 40px 0;
  font-size: 14px;
}

.highlight pre {
  padding: 10px;
}

.archive {
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: left;
}

.archive-title {
  font-family: "Lora", sans-serif;
  font-size: 32px;
  margin-top: 60px;
  text-align: center;
}

.archive-item {
  margin: 0 0;
  padding: 0 0 1.7em;
}

.archive-item-link {
  font-family: "Lora", sans-serif;
  font-weight: 700;
  display: inline;
  text-decoration: none;
  font-size: 21px;
  color: inherit;
  padding: 5px 0 0;
  border-bottom: none;
}

.archive-item-link:hover {
  -webkit-box-shadow: 0 -1px 0 0 #fff inset,0 -3px 0 0 #ffce07 inset;
  box-shadow: 0 -1px 0 0 #fff inset,0 -3px 0 0 #ffce07 inset;
  transition: all 0.3s ease-out;
}

.archive-description p {
  margin: auto 0;
  line-height: 25px;
}

.archive-meta {
  display: block;
  margin: 0 0 0.3em 0;
  font-size: 16px;
}

.archive-section, .article-section {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  line-height: 1;
}

.article-section {
  justify-content: center;
}

.archive-section a,
.article-section a {
  height: 23px;
  padding: 0 7px;
  margin: 0 5px 10px 0;
  font-size: 10px;
  line-height: 23px;
  letter-spacing: 1px;
  border-radius: 3px;
  text-transform: uppercase;
  background-color: #ffe66a;
  text-decoration: none;
  color: #17181e;
  transition: all 0.35s;
}


.archive-description {
  font-size: 16px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin: 0 auto 2em auto;
  display: block;
  overflow-x: auto;
}

th,
td {
  padding: 0.5em 1em 0.5em 0;
}

th,
td {
  border-bottom: 1px dashed #ccc;
}

.footer {
  padding: 25px 0;
  text-align: center;
}

.footer-links {
  list-style: none;
  margin: 0;
  padding: 0;
  color: #ccc;
  font-size: 14px;
}

.footer-links li {
  margin: 0;
  padding: 0;
  display: inline-block;
}

.footer-links a {
  color: #888;
  text-decoration: none;
  transition: color 150ms ease;
  margin: 0 10px;
}

.footer-links li::before {
  position: relative;
  left: -2px;
}

.footer-links li:first-child::before {
  display: none;
}

.footer-links-kudos img {
  position: relative;
  top: 6px;
  margin-left: 2px;
}

.footnotes ol li p a {
  overflow-wrap: break-word !important;
}

@media (min-width: 600px) {
  .header {
    padding: 5em 0 1em;
  }

  .higlight,
  pre code,
  code {
    font-size: 1rem !important;
  }

  .highlight {
    font-size: 1rem;
    margin: 40px 0;
  }

  .nav-logo {
    margin-top: -13px;
  }

  .nav-logo img {
    max-height: 80px;
  }

  .nav-links {
  }

  .nav-links li {
    margin: 0 0 0 30px;
  }

  .content {
    margin: 100px auto;
  }

  .archive {
    text-align: left;
  }

  .archive-title {
    font-size: 38px;
  }

  .archive-item-link {
    font-size: 22px;
  }

  .article-title {
    font-size: 37px;
  }

  .article-content li p {
    margin-top: 0;
    margin-bottom: 0;
  }

  .article-content li .highlight {
    margin-top: 1em;
    margin-bottom: 1em;
  }

  .article-content li figure {
    margin-top: 1em;
    margin-bottom: 1em;
  }

  .footer-links {
    font-size: inherit;
  }
}
