{{ partial "header.html" . }}

<main class="content" role="main">
  <article class="article">
    <h1 class="article-title">{{ .Title }}</h1>

    {{ if or (eq .Section "stories") (eq .Section "apps") }}
    <div class="article-meta">
      <span class="article-date">
        {{ partial "date.html" (dict "Context" . "Dt" .Date) }}
      </span>
      {{ if eq .Section "stories" }}
        <svg style="position:relative; bottom: -2px;" viewBox="0 0 24 24" width="18" height="18" stroke="currentColor" stroke-width="1" fill="none" stroke-linecap="round" stroke-linejoin="round" class="feather-icon"><circle cx="12" cy="12" r="10"></circle><polyline points="12 6 12 12 16 14"></polyline></svg>
        <span class="article-duration">{{ .ReadingTime }} min read</span>
      {{ end }}
    </div>
    {{ end }}

    {{ if .Params.toc }}
      {{ partial "description.html" . }}
    {{ end }}

    {{ if eq .Section "stories" }}
      {{ partial "toc.html" . }}
    {{ end }}

    <div class="article-content">
      {{ .Content }}

      {{ partial "tags.html" . }}
    </div>
  </article>

  {{ if (.Params.disqus) }}
  {{ template "_internal/disqus.html" . }}
  {{ end }}
</main>

{{ partial "footer.html" . }}
