<nav class="nav">
  <div class="nav-circle">
    <div class="bg"></div>
    <div class="bg bg2"></div>
    <div class="bg bg3"></div>
    <a href="{{ .Site.BaseURL }}" class="nav-logo">
      <img src="{{ .Site.BaseURL }}images/{{ .Site.Params.logo.url }}" 
          width="{{ .Site.Params.logo.width }}" 
          height="{{ .Site.Params.logo.height }}" 
          alt="{{ .Site.Params.logo.alt }}">
    </a>
  </div>
  {{ if .IsHome }}
  <div class="nav-about">
    <h1 class="me">{{ .Site.Author.name }}</h1>
    <p>{{ .Site.Author.bio }}</p>
    <div class="socmed">
      <a href="https://twitter.com/hazulifidastian">
        <svg viewBox="0 0 24 24" width="16" height="16" stroke="currentColor" stroke-width="1.5" fill="none" stroke-linecap="round" stroke-linejoin="round" class="css-i6dzq1"><path d="M23 3a10.9 10.9 0 0 1-3.14 1.53 4.48 4.48 0 0 0-7.86 3v1A10.66 10.66 0 0 1 3 4s-4 9 5 13a11.64 11.64 0 0 1-7 2c9 5 20 0 20-11.5a4.5 4.5 0 0 0-.08-.83A7.72 7.72 0 0 0 23 3z"></path></svg>
      </a>
      <a href="https://www.linkedin.com/in/hazulifidastian/">
        <svg viewBox="0 0 24 24" width="16" height="16" stroke="currentColor" stroke-width="1.5" fill="none" stroke-linecap="round" stroke-linejoin="round" class="css-i6dzq1"><path d="M16 8a6 6 0 0 1 6 6v7h-4v-7a2 2 0 0 0-2-2 2 2 0 0 0-2 2v7h-4v-7a6 6 0 0 1 6-6z"></path><rect x="2" y="9" width="4" height="12"></rect><circle cx="4" cy="4" r="2"></circle></svg>
      </a>
    </div>
  </div>
  {{ end }}
</nav>
