{{ if and (gt .WordCount 400 ) (.Params.toc) }}

<div id="article-toc">
  <input id="collapsible" class="toggle" type="checkbox">
  <label for="collapsible" class="lbl-toggle" title="Daftar Isi">
    <span><svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-menu"><line x1="3" y1="12" x2="21" y2="12"></line><line x1="3" y1="6" x2="21" y2="6"></line><line x1="3" y1="18" x2="21" y2="18"></line></svg></span>
  </label>

  <div class="collapsible-content">
    <div class="content-inner">
      <div id="article-toc-content">
        <h2 class="toc-title">Daftar Isi</h2>
        {{ .TableOfContents }}
      </div>
    </div>
  </div>
</div>
{{ end }}
