{{ partial "header.html" . }}

<main class="content" role="main">

    <div class="archive">
        {{ range (where site.RegularPages "Type" "in" site.Params.mainSections).GroupByDate "2006" }}
        <h2 class="archive-title">{{ .Key }}</h2>
        {{ range .Pages }}

        <article class="archive-item">
          <a href="{{ .Permalink }}" class="archive-item-link">{{ .Title }}</a>
          <div class="archive-meta">
            {{ .Date.Format "Jan 2, 2006" }}
            {{ if .Params.tags }}
              ~
              Tags: {{ delimit .Params.tags ", " }}
            {{ end }}
          </div>
        </article>

        {{ end }}
        {{ end }}
    </div>

</main>

{{ partial "footer.html" . }}
